[push]
	default = current
[pull]
	rebase = true
[diff]
	tool = bcompare
[merge]
	tool = bcompare
[mergetool "bcompare"]
	trustExitCode = true
[alias]
	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[safe]
	directory = *
[core]
	excludesFile = ~/.gitignore
	pager = delta
[delta]
	syntax-theme = Nord

# Sign commits only for GitHub repos
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
	path = ~/.gitconfig-github
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
	path = ~/.gitconfig-github

# Use work account for Cartrack/GitLab repos
[includeIf "hasconfig:remote.*.url:*gitlab.cartrack.com*/**"]
	path = ~/.gitconfig-cartrack
[includeIf "hasconfig:remote.*.url:git@gitlab.cartrack.com:*/**"]
	path = ~/.gitconfig-cartrack
[includeIf "hasconfig:remote.*.url:https://gitlab.cartrack.com/**"]
	path = ~/.gitconfig-cartrack
