---
Checks:          '*,-llvm-*,-google-readability-*,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-android-*,-fuchsia-*,-llvmlibc-*'
WarningsAsErrors: '*'
HeaderFilterRegex: '*/build/*'
AnalyzeTemporaryDtors: false
CheckOptions:
    - key: readability-function-size.LineThreshold
      value: 100
    - key: readability-function-size.BranchThreshold
      value: 10
    - key: readability-function-size.ParameterThreshold
      value: 5
